<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weeding.css') }}">
    <script src="/js/vendor/modernizr.js"></script>
    <title>{% block title %}JRPi{% endblock %}</title>
    {% endblock %}
  </head>
  <body style="background-color:#0e3727;">
  
  <div class="social-block w-hidden-small w-hidden-tiny">
      <a class="social-icon w-inline-block" href="https://www.facebook.com/fibfestival/" target="_blank">
          <img class="social-img" src="images/Icon_facebook_pink.svg">
      </a>
      <a class="social-icon w-inline-block" href="https://www.instagram.com/fiberfib/" target="_blank">
          <img class="social-img" src="images/Icon_instagram_pink.svg">
      </a>
      <a class="social-icon w-inline-block" href="https://twitter.com/fiberfib?lang=es" target="_blank">
          <img class="social-img" src="images/Icon_twitter_pink.svg">
      </a>
      <a class="social-icon w-inline-block" href="https://play.spotify.com/user/fiberfib" target="_blank">
          <img class="social-img" src="images/Icon_Spotify_pink.svg">
      </a>
  </div>
  
  
  
  
  
  <div class="navbar w-hidden-small w-hidden-tiny">                  
    <nav class="top-bar" data-topbar style="background-color:#2663d6;">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">BODA CLAU NOEL</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <!--<div class="nav-menu nav-submenu">-->
      <div class="nav-menu" style="background-color:#2663d6;">
        <section class="top-bar-section">
          <ul style="background-color:#2663d6;overflow:"hidden"">
            <li><a class="nav-link" href="{{ url_for('main') }}" style="background-color:#2663d6;">Cartel</a></li>
            <li><a class="nav-link" href="{{ url_for('main') }}" style="background-color:#2663d6;">Como llegar</a></li>
            <li><a class="nav-link" href="{{ url_for('main') }}" style="background-color:#2663d6;">Contacto</a></li>
          </ul>
        </section>
      </div>
    </nav>
  </div>
    
    
    <div id="content" style='padding: 10px;'>{% block content %}{% endblock %}</div>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="{{ url_for('static',filename='js/foundation.min.js') }}"></script>
    <script>
      $(document).foundation();
    </script> 
  </body>
</html>

